*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: #e7e7e7 !important;
    text-decoration: none !important
}

body{
    font-family: "Poppins", sans-serif;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.globe{
    text-decoration: none !important;
    color: white !important;
    font-size: 45px;
    margin-top: -10px;
}

nav{
    font-size: 30px;
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 7rem;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    gap: 45rem;
}

nav ul{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #e7e7e7;
    gap: 4rem;

}

.links{
    color: #e7e7e7 !important;
    text-decoration: none !important;
}

.title{
    color: rgb(199, 199, 199);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    position: absolute;
    left: 45%;
    top: 82%;

}